@font-face {
    font-family: LobsterRegular;
    src: url("../fonts/lobster/Lobster-Regular.ttf") format("OpenType");
  }
@font-face {
    font-family: RobotoBold;
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("OpenType");
  }
@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("OpenType");
  }
  

body{
    background-color: #725ab0 !important;
}

.boxLogin{
  width: 30%;
  height: 55%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  box-shadow: 0 0 71px -10px #000;
}
.boxCadastro{
  width: 45%;
  height: 85%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  box-shadow: 0 0 71px -10px #000;
}
@media screen and (min-width: 1600px) {
    .boxLogin{
      width: 30% !important;
    }
  }
@media screen and (max-width: 1599px) {
    .boxLogin{
      width: 40% !important;
    }
  }
@media screen and (max-width: 1200px) {
    .boxLogin{
      width: 50% !important;
    }
  }
@media screen and (max-width: 980px) {
    .boxLogin{
      width: 60% !important;
    }
  }
@media screen and (max-width: 800px) {
    .boxLogin{
      width: 70% !important;
    }
  }
@media screen and (max-width: 650px) {
    .boxLogin{
      width: 90% !important;
    }
  }

.headerLogin{
    color: #f0f0f0;
    font-family: LobsterRegular;
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}

.tipoLogin{
    text-align: center;
    padding-top: 15px;
}

.loginTextType{
    font-size: 14px;
    color: #f0f0f0;
    font-family: RobotoRegular;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color: #f0f0f0 !important;
    border-color: unset !important;
    color: #725ab0 !important;
    box-shadow: unset !important;
}

.el-radio-button__inner{
    background-color: #725ab0 !important;
    color: #f0f0f0 !important;
}

.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled){
    box-shadow: unset !important;
}

.infosLogin{
    text-align: center;
}

.el-form-item__label{
    color: #f0f0f0 !important;
    line-height: 6px !important;
    font-family: RobotoRegular;
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
    content: unset !important;
}

.invisibleInputs .el-input__inner{
    background-color: unset !important;
    color: #f0f0f0 !important;
}

.el-radio-button__inner, .el-radio-group{
    line-height: 0.8;
}

.el-button--primary{
    background-color: unset !important;
    border-color: #f0f0f0 !important;
    color: #f0f0f0;
}

button:focus{
    outline: unset !important;
}

.el-form-item{
    margin-bottom: 22px !important;
}

.infosAbaixoLogin{
    font-size: 11px;
    font-family: RobotoRegular;
    color: #f0f0f0;
}

.el-form-item__error{
    padding-top: 2px !important;
}

.roundedAvatar{
  margin: 20px 20px 0px 0px;
}
.roundedAvatar img{
  border-radius: 50px;
}
.header{
  color: #f0f0f0;
  font-family: LobsterRegular;
  font-size: 30px;
  padding-top: 4px;
  padding-left: 10px;
}
.el-card__body {
  padding: 5px !important;
}
.el-card {
  border: unset !important;
  background-color: #383838 !important;
  color: #f0f0f0 !important;
  transition: .3s;
}
/* .el-rate__icon{
  color: #383838 !important;
} */
.el-rate__icon {
  font-size: 16px !important;
}
.el-rate__item{
  margin-right: -5px !important;
}
.el-card__body{
  cursor: pointer;
}

.title{
    font-family: LobsterRegular;
    font-size: 30px;
    color: #f0f0f0;
    padding-top: 50px;
}

 .localizacao .el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: unset !important;
  outline: 0;
}
#el-drawer__title span{
  outline: unset !important;
  font-family: RobotoRegular;
  font-size: 20px;
}
.el-drawer{
  background-color: #f0f0f0 !important;
}
.el-drawer{
  overflow: auto !important;
}
.historyView .el-table{
  border-radius: 5px;
  box-shadow: 0 0px 60px -15px rgba(0, 0, 0, 0.3);
}
/* .historyView .el-table td:last-child{
  text-align: right;
} */
.historyView .el-dialog{
  width: 35% !important;
}
/* .historyView .el-dialog__header{
  text-align: left !important;
}
.historyView .el-dialog__body{
  text-align: left !important;
} */
.rateStyle .el-rate__icon{
  font-size: 40px !important;
}